.top-bar {
    background-color: #d8d7da;
    width: 100%;
    border-radius: 15px;
    padding: 10px 15px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .filter-row {
        margin-top: 140px;
    }
}

#minPrice::placeholder {
    font-size: 16px;
    color: #495057;
}

#maxPrice::placeholder {
    font-size: 16px;
    color: #495057;
}

#minYear::placeholder {
    font-size: 16px;
    color: #495057;
}

#maxYear::placeholder {
    font-size: 16px;
    color: #495057;
}

@media (max-width: 768px) {
    .exchange-group {
        margin-bottom: 15px;
    }

    .select-options {
        margin-bottom: 15px;
    }
}

.left-input {
    padding-right: 1px;
}

.right-input {
    padding-left: 1px;
}

.filter {
    height: auto;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.filter:hover {
    height: auto;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}


.filter:focus {
    height: auto;
    border-color: #54A5FF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.horizontal-line {
    margin: 50px 0;
}

/* .top-bar-type {
    border-bottom: 10 solid #000000;
    height: 40px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    vertical-align: middle;
    width: calc(100% + 15px);
} */

.vehicle-card {
    border: 1px solid #E6E9F3;
    border-radius: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.car-image {
    display: block;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.car-title {
    color: #27173E;
    font-size: 1em;
    font-weight: 500;
}

.mileage, .transmission, .year {
    font-size: 11px;
    font-weight: 500;
}

.vehicle-details {
   text-align: center;
   padding: 8px;
}

.price {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}

.branch {
    font-size: 10px;
    margin-top: 2px;
}

.view-details-button {
    padding: 5px 10px;
    font-size: 13px;
}

/* list view css */
.view-mode-button {
    background-color: transparent;
}

.mode-icon {
    color: #2a74e7;
    font-size: 22px;
}

.view-text {
    color: #222222;
}

@media (min-width: 992px) {
    .sort-container {
        display: block;
        margin: auto;
    }
}
 
.sort-input {
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.list-car-item {
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.car-list-image {
    border-radius: 18px;
}

.list-car-title {
    color: #222222;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 0;
}

.list-mileage, .list-transmission, .list-year, .list-location {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 8px;
}

.view-list-button {
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 8px;
    max-width: 100%;
}

.list-price {
    font-size: 30px;
    color: #2a74e7;
    margin: 10px 0;
    font-weight: 500;
}

.pagination {
    margin-top: 50px;
}

.pagination-control {
    background-color: transparent;
    color: #222222;
}

.pagination-numbers {
    background-color: transparent;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
}

.pagination-numbers:focus {
    background-color: #b6cdf2;
    color: #2a74e7;
    outline: #b6cdf2;
    border-radius: 40px;
    padding: 10px 17px;
}

.pagination-numbers:active {
    background-color: #b6cdf2;
    color: #2a74e7;
    outline: #b6cdf2;
    border-radius: 40px;
    padding: 10px 17px;
}