.container-approved {
    position: relative;
    overflow: hidden;
    background-color: #2a74e7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (max-width: 768px) {
    .vehicle-approved {
        display: block;
        margin: auto;
    }
}

.approved-row {
    align-items: flex-start;
}

.penta-approved-heading {
    font-size: 50px;
    font-weight: 600;
    color: #ffffffbf;
    text-align: center;
    margin: 70px 0 20px 0;
}

@media (max-width: 576px) {
    .penta-approved-heading {
        margin: 120px 0 20px 0;
    }
}

@media (max-width: 768px) {
    .penta-approved-heading {
        margin: 130px 0 20px 0;
        padding: 0 10px;
    }
}

.vehicle-approved {
    width: 600px;
    height: auto;
    padding-right: 55px;
    object-fit: contain;
}

.approved-text {
    padding: 0 35px 0 10px;
}

@media (max-width: 576px) {
    .approved-text {
        padding: 0 35px 0 30px;
    }
}

.approved-paragraph {
    color: #ffffff;
    margin: 55px 15px 0 15px;
    padding-bottom: 0px;
    line-height: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

.approved-benefits {
    margin: 0 15px;
}

@media (max-width: 576px) {
    .approved-benefits {
        margin: 8px;
    }
}

.benefits-heading {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

@media (max-width: 576px) {
    .benefits-heading {
        padding: 0 10px;
    }
}

/* @media (max-width: 576px) {
    .benefit-item {
        padding: 0 10px;
    }
} */

.penta-card {
    border-radius: 25px;
    border: none;
}

@media (max-width: 576px) {
    .benefit-item {
        margin-bottom: 10px;
    }
}

.benefit-item-heading {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.benefit-item-p {
    color: #7a8496;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
    padding: 25px 0 35px;
}

.paragraph-end {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 15px;
    line-height: 30px;
}