.vehicle-details-heading {
    background-color: #F2F2F2;
    padding: 15px 10px;
    font-weight: 500;
}

.spec-items {
    padding-right: 50px;
}

@media (max-width: 576px) {
    .spec-items {
        display: block;
        margin: auto;
        padding: 17px;
    }
}

.spec-item {
    display: flex;
    justify-content: space-between;
}

.spec-title {
    font-size: 13px;
    color: #A9ABAD;
}

.spec-title-value {
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
}

.spec-value {
    font-size: 16px;
    font-weight: bold;
    color: #27173E;
}